NODE_ENV=

BOT_TOKEN=
BOT_ID=
GUILD_ID=

MONGO_URL=

FRONTEND_BASE_URL=

REDIS_URL=

DISCORD_SPCE_LOG_HOOK=
DISCORD_PVP_LOG_HOOK=
DISCORD_ADMIN_LOG_HOOK=
DISCORD_GAME_LOG_HOOK=
DISCORD_PVP_WINNER_LOG_HOOK=

DUST_WALLET_PHRASE=""
DUST_ASSET_ID=""

PVP_WALLET_ADDRESS=""


ALGOD_ADDRESS=
ALGORAND_EXPLORER_BASE_URL=


PURE_STAKE_API_KEY=''
PURESTAKE_EXPLORER_API=""

# Emoji codes
DUST_EMOJI_ID=":DUST:"
FUEL_EMOJI_ID=":FUEL:"

ARC_EMOJI_ID=":ARC:"
COOP_EMOJI_ID=":COUP:"
COUP_BAR_EMOJI_ID=":COUP_BAR:"